*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body { 
  margin: 0;
  justify-content: center; 
  align-items: center; 
  background-color: #FCEBEB;
  }
  
  .form-container {
  max-width: 600px;
  margin: 0 auto;;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: center; 
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: #FF8282;
  font-weight: bold;
  position: relative;
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.015em;
  border: 2px solid #FF2C2C;
  border-radius: 10px;
  }
  h2 {
  text-align: center;
  margin-bottom: 20px;
  }
  
  label {
  display: block;
    width: 100%;
  margin-bottom: 5px;
    padding: 10px;
  }
  
  input{
  
  width: 95%;
  padding: 10px;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  border-color: #FF8282;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 3px solid #FF8282;
  
  }
  
  select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: none;
  background-color: #ffffff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  textarea{
    width: 90%;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  button[type="submit"] {
   
  display: block;
  margin: 20px;
  padding: 10px 15px;
  background-color: #FF8282;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  }
  
  .sub{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button[type="submit"]:hover {
  background-color: #FF8282;
    
  }
  .main
  {
    background-color: #FCEBEB;
  align-items: center;
   color: #FF8282;
  
  }